<div>
  <h1>Shoppings</h1>
  <% @shoppings.each do |shopping| %>
    <div class="shoppings">
      <h2><%= link_to shopping.name, "/list/#{shopping.id}", class: "shopping-names" %></h2>
    </div>
  <% end %>
</div>