<h1>Restaurantes</h1>
<% @restaurants.each do |restaurant| %>
  <div class="restaurants">
    <h2><%= link_to restaurant.name, "/show_menu/#{restaurant.id}", class: "restaurant-names" %></h2>
  </div>
<% end %>