<div class="row">  
  <h1 id="welcome-text">Bem vindo ao Yammy!</h1>
</div>

<div >
  <p>
    <h3 class="welcome-text">Yammy é um sistema que visa facilitar a interação dos restaurantes com os clientes.</h3>
  </p>
  <p>
    <h3 class="welcome-text">Clientes podem fazer seus pedidos de forma mais fluída e sem complicações envolvendo a entrada e saída entre cada Shopping e Restaurantes.</h3>
  </p>
  <p>
    <h3 class="welcome-text">Restaurantes podem gerenciar melhor seus pedidos e clientes com uma tabela de fácil leitura e manutenção.</h3>
  </p>
</div>