<div class="row">  
  <h1 id="welcome-text">Bem vindo ao Yammy!</h1>
</div>

<div>
  <p>
    Yammy é um sistema que visa facilitar a interação dos restaurantes com os clientes.
  </p>
  <p>
    Clientes podem fazer seus pedidos de forma mais fluída e sem complicações envolvendo a entrada e saída entre cada Shopping e Restaurantes.
  </p>
  <p>
    Restaurantes podem gerenciar melhor seus pedidos e clientes com uma tabela de fácil leitura e manutenção.
  </p>
</div>