<div id="loginForm">
    <%= form_with url:"restaurants/all" do |form|%>
      <div class="form_field">
        <div class="row">
          <div class="child"><div class="cell" id="username"><h1>Usuário:</h1></div></div>
          <div class="child"><div class="cell" id="usernameField"><%= text_field(:username, :field) %></div></div>                  
        </div class="row">   
      </div>

      <div class="form_field">
        <div class="row">
          <div class="child"><div class="cell" id="password"><h1>Senha:</h1></div></div>
          <div class="child"><div class="cell" id="passwordField"><%= text_field(:password, :field) %></div></div>
        </div>     
      </div>

      <div id="submitButton">
        <input type="submit" value="Entrar">
      </div>
    <% end %>
  <div>
</div>

<div><%= link_to "Home", root_path %></div>